/* .header {
    color: red ;
}

.text {
    color: green ;
}

#header-id {
    color: black;
}

p{
    color: yellow ;
}

#text-id {
    color: blue;
}

div .text {
    color: brown !important;
} */

/* Box Model */

*{
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
    
}

.box-one {
    background-color: red;
    border: 20px solid pink;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 100px;
}
.box-two {
    background-color: blue;
    border: 30px solid green;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 80px;
}